# Importing and Reading Data

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

# Understanding The Data

- **.shape / .info()** – to check the size and structure of the dataset
- **.dtypes** – to understand data types for each column
- **.describe()** – to get summary statistics of numeric columns

In [3]:
df= pd.read_csv('books_data.csv')

In [4]:
df.shape

(616, 7)

In [6]:
df.columns

Index(['Title', 'Author', 'Rating', 'Avg Rating', 'Date Added', 'Num Pages',
       'Genre'],
      dtype='object')

In [9]:
df.dtypes

Title          object
Author         object
Rating         object
Avg Rating    float64
Date Added     object
Num Pages      object
Genre          object
dtype: object

# Data Preparation

In [4]:
df.head()

,Title,Author,Rating,Avg Rating,Date Added,Num Pages,Genre
0,Hunger(Unbound #3),"Gonnella, Nicoli",it was ok,4.43,"Apr 19, 2025","1,035pp",Unknown
1,Silence(Unbound #2),"Gonnella, Nicoli",liked it,4.23,"Apr 19, 2025",482pp,Artists' books
2,Dissonance(Unbound #1),"Gonnella, Nicoli",really liked it,4.38,"Apr 16, 2025",778pp,Unknown
3,The Dungeon Anarchist's Cookbook(Dungeon Crawl...,"Dinniman, Matt",it was ok,4.48,"Apr 15, 2025",534pp,Fiction
4,"Carl's Doomsday Scenario(Dungeon Crawler Carl,...","Dinniman, Matt",liked it,4.54,"Apr 14, 2025",364pp,Unknown

In [5]:
df = df.rename(columns={
    "Title": "title",
    "Author": "author",
    "Rating": "rating",
    "Avg Rating": "avg_rating",
    "Date Added": "date_added",
    "Num Pages": "num_of_pages",
    "Genre": "genre"
})

In [6]:
df.columns

Index(['title', 'author', 'rating', 'avg_rating', 'date_added', 'num_of_pages',
       'genre'],
      dtype='object')

In [7]:
rating_map = {
    "did not like it": 1,
    "it was ok": 2,
    "liked it": 3,
    "really liked it": 4,
    "it was amazing": 5
}

# Apply mapping to create the new column
df["rating_num"] = df["rating"].map(rating_map)

In [11]:

df["num_of_pages"] = df["num_of_pages"].str.replace(",", "").str.replace("pp", "")
df["num_of_pages"] = pd.to_numeric(df["num_of_pages"], errors="coerce")  # Converts invalid values to NaN

In [14]:
df['date_added'] = pd.to_datetime(df['date_added'])

In [17]:
df["author"] = df["author"].str.split(", ").str[::-1].str.join(" ")

In [20]:
df["genre"] = df["genre"].str.lower().str.replace(" ", "_")

,title,author,rating,avg_rating,date_added,num_of_pages,genre,rating_num
0,Hunger(Unbound #3),Nicoli Gonnella,it was ok,4.43,2025-04-19,1035.0,unknown,2.0
1,Silence(Unbound #2),Nicoli Gonnella,liked it,4.23,2025-04-19,482.0,artists'_books,3.0
2,Dissonance(Unbound #1),Nicoli Gonnella,really liked it,4.38,2025-04-16,778.0,unknown,4.0
3,The Dungeon Anarchist's Cookbook(Dungeon Crawl...,Matt Dinniman,it was ok,4.48,2025-04-15,534.0,fiction,2.0
4,"Carl's Doomsday Scenario(Dungeon Crawler Carl,...",Matt Dinniman,liked it,4.54,2025-04-14,364.0,unknown,3.0
5,"Dungeon Crawler Carl(Dungeon Crawler Carl, #1)",Matt Dinniman,liked it,4.51,2025-04-13,446.0,fiction,3.0
6,Broken Sky(Skies of Cyrna #1),Morgan K. Bell,NaN,4.15,2025-03-10,352.0,unknown,NaN
7,The Party,Natasha Preston,it was ok,3.53,2025-02-22,352.0,young_adult_fiction,2.0
8,Wrath of the Triple Goddess(Percy Jackson and ...,Rick Riordan,NaN,4.16,2025-01-04,322.0,juvenile_nonfiction,NaN
9,The Chalice of the Gods(Percy Jackson and the ...,Rick Riordan,liked it,4.28,2025-01-03,288.0,juvenile_fiction,3.0
10,Council of Peacocks(Activation #1),M. Joseph Murphy,NaN,4.02,2025-01-01,NaN,research,NaN
11,The Boyfriend,Freida McFadden,liked it,4.03,2024-12-30,368.0,fiction,3.0
12,Power Rangers Prime #1,Melissa Flores,liked it,4.47,2024-12-30,NaN,comics_&_graphic_novels,3.0
13,Absolute Superman (2024-) #2,Jason Aaron,really liked it,4.35,2024-12-30,NaN,comics_&_graphic_novels,4.0
14,Absolute Superman (2024-) #1,Jason Aaron,liked it,4.28,2024-12-30,NaN,comics_&_graphic_novels,3.0
15,Absolute Batman (2024-) #3,Scott Snyder,it was amazing,4.35,2024-12-30,NaN,comics_&_graphic_novels,5.0
16,Absolute Batman (2024-) #2,Scott Snyder,really liked it,4.43,2024-12-30,NaN,comics_&_graphic_novels,4.0
17,Absolute Batman (2024-) #1,Scott Snyder,really liked it,4.56,2024-12-30,NaN,comics_&_graphic_novels,4.0
18,The Hike,Drew Magary,it was ok,3.97,2024-12-29,278.0,fiction,2.0
19,Upgrade,Blake Crouch,really liked it,3.81,2024-12-27,352.0,fiction,4.0